In [1]:
import pandas as pd
import numpy as np
import matplotlib 
from matplotlib import pyplot as plt
monthly_budget = 900
df = pd.read_csv (r'FETCH EXPENSE AND REWARDS SUMMARY.csv') #read.csv file stored in capstone project folder
# Get the number of rows and columns
rows = len(df.axes[0])
cols = len(df.axes[1])
  
# Print the number of rows and columns
print(f'Number of rows and columns: {str(rows)} and {str(cols)}')
print(df.head(5)) #print top 5 rows
print(df.tail(5)) #print bottom 5 rows

Number of rows and columns: 97 and 8
  TRANSACTION_DATE     STORE_NAME     CATEGORY  NUMBER_OF_ITEMS  \
0       01/15/2022  REMKE MARKETS      GROCERY                9
1          1/15/22            CVS      GROCERY                2
2       01/16/2022     APPLEBEE’S  RESTAURANTS                9
3       01/18/2022            CVS      GROCERY                1
4       01/25/2022         COSTCO      GROCERY               41

   TOTAL_AMOUNT_SPENT($)  FETCH_REWARDS_EARNED SPECIAL_OFFER_BONUS(Y/N)  \
0                  30.19                    25                        N
1                  22.87                    25                        N
2                  72.98                    25                        N
3                  10.91                    25                        N
4                 501.94                   214                        Y

  EXCEPTION
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
   TRANSACTION_DATE                      STORE_NAME     CATEGORY  \
92       09/20/2022                        SPEEDWAY          GAS
93       09/21/2022                      MCDONALD’S  RESTAURANTS
94       09/30/2022                          COSTCO      GROCERY
95       09/30/2022                          KROGER      GROCERY
96       09/30/2022  MAHARAJA INTERNATIONAL GROCERY      GROCERY

    NUMBER_OF_ITEMS  TOTAL_AMOUNT_SPENT($)  FETCH_REWARDS_EARNED  \
92                1                  54.90                    25
93                2                  10.15                    25
94               18                 203.04                    25
95               12                  61.40                    25
96                7                  42.59                    25

   SPECIAL_OFFER_BONUS(Y/N) EXCEPTION
92                        N       NaN
93                        N       NaN
94                        N       NaN
95                        N       NaN
96                        N       NaN

In [3]:
index = [list(df.columns)]   
print(index)
print(df.dtypes)
print(type(df))

[['TRANSACTION_DATE', 'STORE_NAME', 'CATEGORY', 'NUMBER_OF_ITEMS', 'TOTAL_AMOUNT_SPENT($)', 'FETCH_REWARDS_EARNED', 'SPECIAL_OFFER_BONUS(Y/N)', 'EXCEPTION']]
TRANSACTION_DATE             object
STORE_NAME                   object
CATEGORY                     object
NUMBER_OF_ITEMS               int64
TOTAL_AMOUNT_SPENT($)       float64
FETCH_REWARDS_EARNED          int64
SPECIAL_OFFER_BONUS(Y/N)     object
EXCEPTION                    object
dtype: object
<class 'pandas.core.frame.DataFrame'>

In [5]:
# formatting to correct datetime
df['TRANSACTION_DATE'] = pd.to_datetime(df['TRANSACTION_DATE']) 
print(df.dtypes)
print(df.head(5)) #print top 5 rows

TRANSACTION_DATE            datetime64[ns]
STORE_NAME                          object
CATEGORY                            object
NUMBER_OF_ITEMS                      int64
TOTAL_AMOUNT_SPENT($)              float64
FETCH_REWARDS_EARNED                 int64
SPECIAL_OFFER_BONUS(Y/N)            object
EXCEPTION                           object
dtype: object
  TRANSACTION_DATE     STORE_NAME     CATEGORY  NUMBER_OF_ITEMS  \
0       2022-01-15  REMKE MARKETS      GROCERY                9
1       2022-01-15            CVS      GROCERY                2
2       2022-01-16     APPLEBEE’S  RESTAURANTS                9
3       2022-01-18            CVS      GROCERY                1
4       2022-01-25         COSTCO      GROCERY               41

   TOTAL_AMOUNT_SPENT($)  FETCH_REWARDS_EARNED SPECIAL_OFFER_BONUS(Y/N)  \
0                  30.19                    25                        N
1                  22.87                    25                        N
2                  72.98                    25                        N
3                  10.91                    25                        N
4                 501.94                   214                        Y

  EXCEPTION
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN